<!DOCTYPE html>
<html>
<head>
  <title>Feature System</title>
  <%= stylesheet_link_tag    "feature_system/application", :media => "all" %>
  <%= javascript_include_tag "feature_system/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
